:root {
  --btn-color: rgb(41, 209, 209);
  --btn-hover-color: rgba(41, 209, 209, 0.4);
  --bg-purple: rgb(58, 48, 83);
  --cr-width: 20rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.bg-purple{background-color: var(--bg-purple);}
.card-width{width: var(--cr-width);}
.shrt-color{color:var(--btn-color)}

@media (max-width: 768px) {
  .sm-margin{
    margin: 3rem 0;
  } 
}
@media (max-width: 576px) {
  .sm-margin2{
    margin: 1rem 0;
  } 
}

h1 {
  font-size: 4.6rem;
}

button {
  background-color: var(--btn-color);
  border: none;
}
button:hover{
  background-color: var(--btn-hover-color);
  transition: ease 0.2s;
}

input {
  border: none;
}

main{
  overflow: hidden;
}

@media (max-width: 995px) {
  h1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 576px) {
  h1{
    font-size: 2.2rem;
  }
}

#intro{
  width: 33rem;
}

#input-area {
  background-image: url(./images/bg-shorten-desktop.svg);
  background-position: left;
}

#boost-info {
  background-image: url(./images/bg-boost-desktop.svg);
  background-size: cover;
}
#test img{
  display: block;
  margin-inline: auto;
  margin-top: -4rem;
}
#line{
  position: absolute;
  background-color: var(--btn-color);
  top: 25%;
  height: 60%;
  width: 0.5rem;
}

@media (min-width: 770px) {
  #working{
    margin-right: -16rem;
  }
  #adv-settings{
    height: 20rem
  }
  #line{
    height: 0.5rem;
    width: 100%;
    top: 45%;
  }
  #test img{
    margin-inline: 0;
  }
}
@media (max-width: 576px) {
  #intro{
    width: 20rem;
  }
}